.sidebar {
  position: fixed;
  top: 55px;
  left: 0;
  bottom: 0;
  width: 72px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  z-index: 1000;
}

.sidebar-link {
  height: 74px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: lightgrey;
}

.sidebar-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: block;
  margin-bottom: 4px;
}
.sidebar-link div{
font-family: Roboto, Arial;
font-size: 10px;
}
